<div>
  <p>Contact: mailto:taisuke.nakano@chaya2z.com</p>
  <p>Expires: 2025-04-30T15:00:00.000Z</p>
  <p>Preferred-Languages: en,jp</p>
  <p>Canonical: https://chaya2z.com/.well-known/security.txt</p>
</div>
