---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="chaya2z.com">
  <main>
    <div class="flex justify-center">
      <div class="container max-w-3xl">
        <h2 class="text-3xl py-3">Profile</h2>
        <p>Real Name: Taisuke Nakano</p>
        <p>Handle Name: chaya2z</p>
        <p>Live in: Japan</p>
        <h2 class="text-3xl py-3">PGP</h2>
        <p>Fingerprint: FA3C 3FA3 4507 7C43 011C 9BA7 5669 B9AF 6CB6 3972</p>
        <p>
          <a
            href="https://keyoxide.org/FA3C3FA345077C43011C9BA75669B9AF6CB63972"
            >Keyoxide</a
          >
        </p>
      </div>
    </div>
  </main>
</Layout>
